---
import LastEarnings from "@/components/earnings/LastEarnings.astro"
import EarningsMedic from "@/components/earnings/EarningsMedic.astro"

---

<section class="grid grid-cols-12 gap-5">
    <article class="col-span-12 flex flex-col items-center justify-center bg-slate-100 p-5 mx-20 rounded-xl">
        <LastEarnings />
    </article>
    <article class="col-span-12 grid grid-cols-12 gap-5 mx-10 ">
        <EarningsMedic />
    </article>

    <article class="col-span-12 grid grid-cols-12">
        <div class="col-span-6"> span-12</div>
        <div class="col-span-6"> span-12</div>
    </article>
</section>