---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import { AddAppointment } from "@/components/appointments/AddAppointment";
import AppointmentsTable from "@/components/appointments/AppointmentsTable";
---

<Layout title="Medical dashboard">
    <section class="flex flex-col h-screen gap-12">
        <h3
            class="text-center font-bold text-3xl mt-5 dark:text-white uppercase"
        >
            Appointments
        </h3>
        <div class="flex flex-col md:flex-row gap-10 2xl:gap-36">
            <AppointmentsTable client:idle/>
            <AddAppointment client:idle />
        </div>
    </section>
</Layout>
