---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import PatientsList from "@/components/patients/PatientsList";
import AddPatient from "@/components/patients/AddPatient";
---

<Layout title="Medical dashboard">
    <section class="flex flex-col h-screen gap-12">
        <h3
            class="text-center font-bold text-3xl mt-5 dark:text-white uppercase"
        >
            Patients
        </h3>
        <div class="flex items-center justify-center gap-36">
            <AddPatient />
            <PatientsList />
        </div>
    </section>
</Layout>
