---
import { SideBarIcons, type Item } from '@/lib/types';

interface Props {
    list: Item[];
}

const { list } = Astro.props;
---

<ul class="flex flex-col px-6 gap-4">
    {
        list.map((item) => {
            const IconComponent = SideBarIcons[item.icon]
            return (
                <a
                    href={item.link}
                    class="text-slate-600 dark:text-slate-100 text-md font-semibold px-4 py-3 transition-all rounded-full hover:bg-blue-300 hover:text-white dark:hover:bg-blue-500"
                >
                    <li class="flex gap-2 items-center">
                        <IconComponent />
                        {item.title}
                    </li>
                </a>
            );
        })
    }
</ul>
