---
import CardTotals from "./CardTotals.astro";
import AreaCharts from "./graphics/AreaCharts";
import BarsChart from "./graphics/BarsChart";
import { DoctorsTable } from "./graphics/DoctorsTable";
import DonutsCharts from "./graphics/DonutsChart";

let doctors = 0;
let patients = 0;
let appointments = 0;
let medicines = 0;

try {
    const responseDoctors = await fetch(
        "http://localhost:4321/api/doctor/count",
    );
    doctors = await responseDoctors.json();

    const responsePatients = await fetch(
        "http://localhost:4321/api/patient/count",
    );
    patients = await responsePatients.json();

    const responseAppointments = await fetch(
        "http://localhost:4321/api/appointment/count",
    );
    appointments = await responseAppointments.json();

    const responseMedicine = await fetch(
        "http://localhost:4321/api/medicine/count",
    );
    medicines = await responseMedicine.json();

} catch (e) {
    console.error(e);
}
---

<section class="grid grid-col-10 gap-10 p-7">
    <article
        class="col-span-10 grid grid-cols-12 gap-3 items-center justify-items-center"
    >
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="DoctorCard"
            count={doctors}
            title="Total Doctors"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="PersonCard"
            count={patients}
            title="Total Patients"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="MedicineIcon"
            count={medicines}
            title="Medicines"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="CalendarCard"
            count={appointments}
            title="Appointments"
        />
    </article>
    <article
        class="col-span-10 grid grid-cols-12 gap-3 mx-12 place-items-center"
    >
        <div
            class="w-[20rem] md:w-full col-span-12 md:col-span-9 rounded-md flex flex-col items-center justify-center py-4"
        >
            <AreaCharts client:idle />
        </div>
        <div
            class="h-[30rem] md:h-[26.2rem] w-[20rem] md:w-full col-span-12 md:col-span-3 rounded-md flex flex-col gap-10 justify-center items-center"
        >
            <DonutsCharts client:idle />
        </div>
    </article>
    <article
        class="col-span-10 grid grid-cols-12 gap-5 md:gap-3 mx-12 place-items-center"
    >
        <div
            class="h-[10rem] md:h-[24rem] w-[20rem] md:w-full col-span-12 md:col-span-6 rounded-md"
        >
            <BarsChart client:idle />
        </div>
        <div
            class="mt-72 md:mt-0 md:h-[24rem] col-span-12 md:col-span-6 rounded-md flex flex-col gap-5"
        >
            <DoctorsTable />
        </div>
    </article>
</section>
