---
import CardTotals from "./CardTotals.astro";
import AreaCharts from "./graphics/AreaCharts";
import BarsChart from "./graphics/BarsChart";
import { DoctorsTable } from "./graphics/DoctorsTable";
import DonutsCharts from "./graphics/DonutsChart";
---

<section class="grid grid-col-10 gap-10 p-7">
    <article
        class="col-span-10 grid grid-cols-12 gap-3 items-center justify-items-center"
    >
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="DoctorCard"
            count="800K"
            title="Total Doctors"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="PersonCard"
            count="500"
            title="Total Patients"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="IconCard"
            count="150K"
            title="Earnings"
        />
        <CardTotals
            class="col-span-6 md:col-span-3 items-center md:items-start"
            icon="CalendarCard"
            count="100"
            title="Appointments"
        />
    </article>
    <article class="col-span-10 grid grid-cols-12 gap-3 mx-12 place-items-center">
        <div
            class="w-[20rem] md:w-full col-span-12 md:col-span-9 bg-slate-100/90 dark:bg-slate-600/95 rounded-md flex flex-col items-center justify-center py-4"
        >
            <AreaCharts client:idle />
        </div>
        <div
            class="h-[30rem] md:h-[25.2rem] w-[20rem] md:w-full col-span-12 md:col-span-3 bg-slate-100/90 dark:bg-slate-600/95 rounded-md flex flex-col gap-10 justify-center items-center"
        >
            <DonutsCharts client:idle />
        </div>
    </article>
    <article class="col-span-10 grid grid-cols-12 gap-5 md:gap-3 mx-12 place-items-center">
        <div class="h-[30rem] md:h-[24rem] w-[20rem] md:w-full col-span-12 md:col-span-6 bg-slate-100/90 dark:bg-slate-600/95 rounded-md">
            <BarsChart client:idle />
        </div>
        <div
            class="md:h-[24rem] col-span-12 md:col-span-6 bg-slate-100/90 dark:bg-slate-600/95 rounded-md flex flex-col gap-5"
        >
            <DoctorsTable />
        </div>
    </article>
</section>
