---
import { CalendarCard, DoctorCard, IconCard, PersonCard } from "../Icons";

const CardsIcons = {
    "CalendarCard": CalendarCard,
    "DoctorCard": DoctorCard,
    "IconCard": IconCard,
    "PersonCard": PersonCard
}
interface Props {
    icon: keyof typeof CardsIcons;
    count: string;
    title: string;
    class: string;
}

const { icon, count, title } = Astro.props;
const IconComponent = CardsIcons[icon];
---

<div
    class=`${Astro.props.class} flex flex-col justify-center gap-4 p-8 w-[18rem] h-[13rem] bg-slate-100/90 dark:bg-slate-600/95 rounded-md`
>
    <IconComponent />
    <p class="text-3xl font-black dark:text-white">{count}</p>
    <p class="text-xl dark:text-white">{title}</p>
</div>
