---
import { CalendarCard, DoctorCard, MedicineIconCard, PersonCard } from "../Icons";
import { Card } from "../ui/card";

const CardsIcons = {
    CalendarCard: CalendarCard,
    DoctorCard: DoctorCard,
    MedicineIcon: MedicineIconCard,
    PersonCard: PersonCard,
};
interface Props {
    icon: keyof typeof CardsIcons;
    count: number;
    title: string;
    class: string;
}

const { icon, count, title } = Astro.props;
const IconComponent = CardsIcons[icon];
---

<Card
    className=`${Astro.props.class} flex flex-col justify-center text-center gap-4 p-8 w-[11rem] md:w-[18rem] xl:w-[15rem] h-[15rem] md:h-[13rem] rounded-md`
>
    <IconComponent />
    <p class="text-3xl font-black dark:text-white">{count}</p>
    <p class="text-xl dark:text-white">{title}</p>
</Card>
